<form method="post" action="http://upload.qiniu.com/"
 enctype="multipart/form-data">
  <input name="key" type="hidden" value="disk/user/1/avatar/1513400165.561707/20171113_131427.jpg">
  <input name="token" type="hidden" value="oX6jJmjudP-3BXHJ3A8lYjEQRlQHBc70734ZyTR4:JSk-Q2Lodqc6ZpSBQF8SsXBKONY=:eyJmc2l6ZU1pbiI6MSwic2NvcGUiOiJyZXNvdXJjZTpkaXNrL3VzZXIvMS9hdmF0YXIvMTUxMzQwMDE2NS41NjE3MDcvMjAxNzExMTNfMTMxNDI3LmpwZyIsImRlYWRsaW5lIjoxNTEzNDAzNzY1LCJpbnNlcnRPbmx5IjoxLCJmc2l6ZUxpbWl0IjozMTQ1NzI4LCJtaW1lTGltaXQiOiJpbWFnZS8qIiwicmV0dXJuQm9keSI6IntcImtleVwiOlwiJChrZXkpXCIsXCJ1c2VyX2lkXCI6XCIxXCJ9IiwicmV0dXJuVXJsIjoiaHR0cHM6Ly9kaXNrLjYtNzkuY24vYXBpL3VzZXIvYXZhdGFyL2NhbGxiYWNrIn0=">
  <input name="file" type="file" />
  <button type="submit"></button>
</form>