<form method="post" action="http://upload.qiniu.com/"
 enctype="multipart/form-data">
  <input name="key" type="hidden" value="disk/res/2/1515654888.436408/Exercism使用.docx">
  <input name="token" type="hidden" value="oX6jJmjudP-3BXHJ3A8lYjEQRlQHBc70734ZyTR4:ht1bGFxPM7JGen3v2_y7Re6E_BE=:eyJkZWFkbGluZSI6MTUxNTY1ODQ4OCwiZnNpemVNaW4iOjEsInJldHVybkJvZHkiOiJ7XCJrZXlcIjpcIiQoa2V5KVwiLFwidXNlcl9pZFwiOjIsXCJmc2l6ZVwiOiQoZnNpemUpLFwiZm5hbWVcIjpcIiQoZm5hbWUpXCIsXCJwYXJlbnRfaWRcIjoyLFwic3RhdHVzXCI6MCwgXCJmdHlwZVwiOiBcIiQobWltZVR5cGUpXCJ9IiwiZnNpemVMaW1pdCI6MTA0ODU3NjAwLCJyZXR1cm5VcmwiOiJodHRwczovL2Rpc2suNi03OS5jbi9hcGkvcmVzL2RscGF0aC9jYWxsYmFjayIsImluc2VydE9ubHkiOjEsInNjb3BlIjoicmVzb3VyY2U6ZGlzay9yZXMvMi8xNTE1NjU0ODg4LjQzNjQwOC9FeGVyY2lzbVx1NGY3Zlx1NzUyOC5kb2N4In0=">
  <input name="file" type="file" />
  <button type="submit"></button>
</form>